<div
  class="text-sm text-white rounded-xl shadow-lg w-full {{ typeClass }}"
  role="alert"
  tabindex="-1"
>
  <div class="flex p-4">
    <ng-content></ng-content>

    <div class="ms-auto flex items-center">
      <button
        type="button"
        class="ml-4 inline-flex shrink-0 justify-center items-center size-5 rounded-lg text-white hover:text-white opacity-50 hover:opacity-100 focus:outline-none focus:opacity-100"
        aria-label="Close"
      >
        <span class="sr-only">Close</span>
        <app-icon-component
          (click)="onCloseClick()"
          name="close"
          size="lg"
        />
      </button>
    </div>
  </div>
</div>
