<h1>Dashboard</h1>

<h2>Lorem ipsum dolor ist</h2>

<button
  type="button"
  class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
  (click)="onRandomButtonClick()"
>
  Open modal
</button>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla erat arcu, luctus at nisl in, iaculis faucibus ante. In
  in condimentum turpis. In hac habitasse platea dictumst. Cras rutrum convallis vulputate. Praesent sodales leo a
  ligula congue, et volutpat turpis ornare. Praesent nec rutrum lacus, sit amet tincidunt justo. Sed sit amet finibus
  erat, id varius velit. Ut venenatis viverra accumsan. In hac habitasse platea dictumst. Vestibulum porta eros lacinia
  venenatis pretium. In eget rhoncus sem, sit amet luctus elit. Maecenas auctor vulputate orci ac placerat. Vivamus eget
  euismod lacus.
</p>

<h2>Lorem ipsum dolor ist</h2>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla erat arcu, luctus at nisl in, iaculis faucibus ante. In
  in condimentum turpis. In hac habitasse platea dictumst. Cras rutrum convallis vulputate. Praesent sodales leo a
  ligula congue, et volutpat turpis ornare. Praesent nec rutrum lacus, sit amet tincidunt justo. Sed sit amet finibus
  erat, id varius velit. Ut venenatis viverra accumsan. In hac habitasse platea dictumst. Vestibulum porta eros lacinia
  venenatis pretium. In eget rhoncus sem, sit amet luctus elit. Maecenas auctor vulputate orci ac placerat. Vivamus eget
  euismod lacus.
</p>

<h2>Lorem ipsum dolor ist</h2>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla erat arcu, luctus at nisl in, iaculis faucibus ante. In
  in condimentum turpis. In hac habitasse platea dictumst. Cras rutrum convallis vulputate. Praesent sodales leo a
  ligula congue, et volutpat turpis ornare. Praesent nec rutrum lacus, sit amet tincidunt justo. Sed sit amet finibus
  erat, id varius velit. Ut venenatis viverra accumsan. In hac habitasse platea dictumst. Vestibulum porta eros lacinia
  venenatis pretium. In eget rhoncus sem, sit amet luctus elit. Maecenas auctor vulputate orci ac placerat. Vivamus eget
  euismod lacus.
</p>

<h2>Lorem ipsum dolor ist</h2>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla erat arcu, luctus at nisl in, iaculis faucibus ante. In
  in condimentum turpis. In hac habitasse platea dictumst. Cras rutrum convallis vulputate. Praesent sodales leo a
  ligula congue, et volutpat turpis ornare. Praesent nec rutrum lacus, sit amet tincidunt justo. Sed sit amet finibus
  erat, id varius velit. Ut venenatis viverra accumsan. In hac habitasse platea dictumst. Vestibulum porta eros lacinia
  venenatis pretium. In eget rhoncus sem, sit amet luctus elit. Maecenas auctor vulputate orci ac placerat. Vivamus eget
  euismod lacus.
</p>

<h2>Lorem ipsum dolor ist</h2>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla erat arcu, luctus at nisl in, iaculis faucibus ante. In
  in condimentum turpis. In hac habitasse platea dictumst. Cras rutrum convallis vulputate. Praesent sodales leo a
  ligula congue, et volutpat turpis ornare. Praesent nec rutrum lacus, sit amet tincidunt justo. Sed sit amet finibus
  erat, id varius velit. Ut venenatis viverra accumsan. In hac habitasse platea dictumst. Vestibulum porta eros lacinia
  venenatis pretium. In eget rhoncus sem, sit amet luctus elit. Maecenas auctor vulputate orci ac placerat. Vivamus eget
  euismod lacus.
</p>

<h2>Lorem ipsum dolor ist</h2>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla erat arcu, luctus at nisl in, iaculis faucibus ante. In
  in condimentum turpis. In hac habitasse platea dictumst. Cras rutrum convallis vulputate. Praesent sodales leo a
  ligula congue, et volutpat turpis ornare. Praesent nec rutrum lacus, sit amet tincidunt justo. Sed sit amet finibus
  erat, id varius velit. Ut venenatis viverra accumsan. In hac habitasse platea dictumst. Vestibulum porta eros lacinia
  venenatis pretium. In eget rhoncus sem, sit amet luctus elit. Maecenas auctor vulputate orci ac placerat. Vivamus eget
  euismod lacus.
</p>

<h2>Lorem ipsum dolor ist</h2>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla erat arcu, luctus at nisl in, iaculis faucibus ante. In
  in condimentum turpis. In hac habitasse platea dictumst. Cras rutrum convallis vulputate. Praesent sodales leo a
  ligula congue, et volutpat turpis ornare. Praesent nec rutrum lacus, sit amet tincidunt justo. Sed sit amet finibus
  erat, id varius velit. Ut venenatis viverra accumsan. In hac habitasse platea dictumst. Vestibulum porta eros lacinia
  venenatis pretium. In eget rhoncus sem, sit amet luctus elit. Maecenas auctor vulputate orci ac placerat. Vivamus eget
  euismod lacus.
</p>
