<li
  class="hs-accordion"
  id="users-accordion"
>
  <button
    type="button"
    class="hs-accordion-toggle w-full text-start flex items-center gap-x-3.5 py-2 px-2.5 text-sm text-gray-800 rounded-lg hover:bg-gray-100 focus:outline-none focus:bg-gray-100 dark:bg-neutral-800 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700 dark:text-neutral-200"
    aria-expanded="true"
    aria-controls="users-accordion-child"
    [routerLink]="item.route.path"
  >
    <app-icon [name]="item.icon"></app-icon>
    {{ item.label }}

    <app-sidebar-item-toggle class="ms-auto" />
  </button>

  <div
    id="users-accordion-child"
    class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300 hidden"
    role="region"
    aria-labelledby="users-accordion"
  >
    <ul
      class="hs-accordion-group ps-8 pt-1 space-y-1"
      data-hs-accordion-always-open
    >
      <li
        class="hs-accordion"
        id="users-accordion-sub-1"
      >
        <button
          type="button"
          class="hs-accordion-toggle w-full text-start flex items-center gap-x-3.5 py-2 px-2.5 text-sm text-gray-800 rounded-lg hover:bg-gray-100 focus:outline-none focus:bg-gray-100 dark:bg-neutral-800 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700 dark:text-neutral-200"
          aria-expanded="true"
          aria-controls="users-accordion-sub-1-child"
        >
          Sub Menu 1

          <app-sidebar-item-toggle class="ms-auto" />
        </button>

        <div
          id="users-accordion-sub-1-child"
          class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300 hidden"
          role="region"
          aria-labelledby="users-accordion-sub-1"
        >
          <ul class="pt-1 space-y-1">
            <li>
              <a
                class="flex items-center gap-x-3.5 py-2 px-2.5 text-sm text-gray-800 rounded-lg hover:bg-gray-100 focus:outline-none focus:bg-gray-100 dark:bg-neutral-800 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700 dark:text-neutral-200"
                href="#"
              >
                Link 1
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</li>
